<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="doLogin()">
    <div class="bar bar-header item-input-inset"><h1 class="title">Login..</h1></div>
      
     <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <form ng-submit="doLogin()">
      <div class="list">
      <div class="bar bar-header item-input-inset"><h1 class="title">SignUp!</h1></div>
      
        <label class="item item-input">
          <span class="input-label">FirstName</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">LastName</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
        <label class="item">
          <button class="button button-block button-royal" type="submit">Create Account</button>
        </label>
      </div>
     
    </form>
  </ion-content>
</ion-modal-view>