<ion-view view-title="Medicine">
  <ion-content>
    <ul class="list">
	    <li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>
	   	<li class="item">
	    Paracetamol
	    </li>
	    <li class="item">
	    Paracetamol
	    </li>	    
	    <li class="item">
	    Paracetamol
	    </li>
	</ul>
  </ion-content>
</ion-view>
