<ion-view view-title="Pharmacy">
  <ion-content>
    <div class="list list-inset">

	    <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>
	     <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>
	     <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>
	     <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>
	     <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>
	     <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	      <span class="badge badge-assertive">0</span>
	    </a>

	</div>
  </ion-content>
</ion-view>
