<ion-view view-title="Profile">
	<div class="bar bar-header item-input-inset"></div>
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-camera" href="#"></i>
	    <input type="text" placeholder="Post Something...">
	  </label>
	  <button class="button button-clear">
	    Post
	  </button>
	</div>
  <ion-content>
  	<ion-list>
      <div class="list list-inset" ng-repeat="post in posts" href="#/app/profile">
      	<div class="item item-avatar" >
		    <img src="mcfly.jpg">  
		   	<h2>{{post.name}}</h2> 
        	<p style="color:#04142B;">{{post.date}}</p>
          </div>
         <div class="item item-body">
		    <img class="full-image" src="delorean.jpg">
		    <p style="color:#04142B;">
        		{{post.content}}</p>
         	</p>
		      <a style="color:#04142B;" href="#" class="subdued">1 Like</a>
		      <a style="color:#04142B;" href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>
	  </div>
    </ion-list>

  </ion-content>
</ion-view>
